*{
    font-family: 'b nazanin', Courier, monospace;
}

h3,h2,h5{
    font-family: 'b titr', Courier, monospace;
}

body{
    background: #bef2ff;
}

.section-pading{
    padding: 100px 0;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 40px;
    z-index: 2;
    color:#d8d8d8
}

.carousel-caption h5{
    font: size 30px;
    margin-top: 25px;
}

.carousel-caption p{
    font-size: 15px;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.navbar-nav a{
    font-size: 15px;

}

.w-100{
    height: 100vh;
}
@media only screen and (min-width:767px) and (max-width:991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption h5{
        padding: 10px 15px;
        font-size: 25px;
    }
    .carousel-caption p{
        font-size: 15px;
    }
}

/* responsive Css with media Query (mobile) */
@media only screen and (max-width:767px){

}

.navbar-nav{
    text-align: center;
}

.carousel-caption{
    bottom: 125px;
}

.carousel-caption h5{
    padding: 10px 15px;
    font-size: 25px;
}

.about-text{
    direction: rtl;
    text-align: right;
}


  /* .swiper-wrapper {
    display: flex;
    flex-direction:row;
   
    justify-content: flex-start; /* این باعث می‌شود که فضا به طور مساوی بین کارت‌ها تقسیم شود
    width: 100%

  } */
  
  /* .card {
    float: left;
    margin: 5px; /* فاصله بین کارت‌ها
    width: calc(25%-10px);
     سایر استایل‌ها
  } */

  .swiper {
    width: 93%;
    height: 300px;
  }

  /* .swiper-slide{
    width: 100%;
    height: 100%;
  } */



  /* highcharts.com */
  body {
    font-family: 'b nazanin', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  #container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }